:root {
   --primary :  hsl(179, 62%, 43%);
   --primary-bright : hsl(71, 73%, 54%);
   --neutral-bright : hsl(204, 43%, 93%);
   --neutral: hsl(218, 22%, 67%);
   font-size: 62.5%;
   font-family: 'Karla', sans-serif;
}

h1 {
    font-size : 4em;
    color: var(--primary);
}

h2 {
    font-size: 3em;
    color: var(--neutral-bright);
}

body {
    display: grid;
    grid-template-columns: 50% 50%;
    /* grid-template-rows: 44% 44% 2%; */
    margin: 0;
}

section {
    padding: 4em 8em 4em 8em;
    margin: 0;
    display: inline;
}

p {
    color: var(--neutral-bright);
    font-size: 2em;
    font-weight: lighter;
    line-height: 2.5rem;
    margin:0;
}

button {
    background-color: var(--primary-bright);
    color: var(--neutral-bright);
    width: 75%;
    padding-top : 1rem;
    padding-bottom: 1rem;
    border:none;
    border-radius : 5px;
    margin: auto;
    margin-top: 1em;
    font-size: 2em;
    font-family: inherit;
    box-shadow : 2px 2px 10px rgba(43, 40, 40, 0.5);
}

.emphasis > * {
    display: inline;
}

.emphasis h3 {
    font-size : 3em;
    color: var(--neutral-bright);
    margin-right: 0.5rem;
}


.join-us p {
    color: var(--neutral);
}

.join-us h2 {
    color: var(--primary-bright);
}

.join-us {
    grid-column: 1/-1;
}

.price {
    background-color: var(--primary);
    grid-column: 1/1;
}

.why-us {
    background-color: hsl(179, 53%, 50%);
    grid-column: 2/2;
    white-space: pre-line;
}

footer {
    justify-content: center;
    font-size : 2em;
    color: var(--primary-bright);
    background-color: var(--primary);
    grid-column: 1/-1;
}